{% extends 'base.html' %}

{% block title %}Available Hotels{% endblock %}

{% block header %}Available Hotels{% endblock %}

{% block content %}
{% if hotels %}
    <ul>
        {% for hotel in hotels %}
            <li>
                <h2>{{ hotel.name }}</h2>
                <p>Location: {{ hotel.location }}</p>
                <p>Rating: {{ hotel.rating }}</p>
                <p>{{ hotel.description }}</p>
                <p>Price per Night: ${{ hotel.price_per_night }}</p>
                <a href="{{ url_for('routes.get_hotel', hotel_id=hotel._id) }}">View Details</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No hotels available at the moment.</p>
{% endif %}
{% endblock %}
